*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.homesection{
  width: 100%;
  min-height: 100vh;
  background-color: #EDF2FC;
}
.innersection{
  margin-left: 75px;
  margin-right: 75px;
}
.logo{
  width: 100px;
}
nav{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
ul{
  display: inline-flex;
  margin-top: 20px;
}
ul li{
  margin-left: 36px;
  text-decoration: none;
  list-style-type: none;
}
ul li a{
  color: blue;
  text-decoration: none;
  padding: 8px 16px;
  color: brown;
  border-radius: 28%;
  font-size: 20px;
  border: 2px solid brown;
  background-color: #EDF2FC;
}
.welcome{
  width: 400px;
  display: block;
  margin: auto;
  top: 0;
  bottom: 0;
}
.centerdiv h2{
  text-align: center;
  font-size: 28px;
}
.centerdiv h2 span{
  color: brown;
}
.centerdiv h3{
  text-align: center;
  margin-top: 20px;
}
.centerdiv h3 a{
  text-decoration: none;
  padding: 10px;
  background-color: brown;
  border-radius: 12px;
  color: #EDF2FC;
}
.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form{
  width: 300px; 
  margin: auto; /* center the form horizontally */
  background-color: #4A5568; 
  border-radius: 5px; 
  padding: 20px; 
  text-align: center;
}
input[type="text"], input[type="email"], input[type="password"], textarea {
  width: 100%; 
  padding: 12px 20px;
  margin: 8px 0; 
  box-sizing: border-box; /* make the input fields take up the full width of the form */
  border: 1px solid #1B262C; 
  border-radius: 5px; 
  background-color: #EDF2FC; 
}
input[type="submit"]{
  width: 100%; /* make the submit button take up the full width of the form */
  background-color: #3182CE;
  color: white;
  padding: 14px 20px; 
  margin: 8px 0; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
}
.goback{
  color: white;
  padding: 4.5% 41.5%; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  text-decoration: none;
} 
.middiv{
  width: 68%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box{
  width: 90%;
  height: 20%;
  border: 1px solid black;
  margin: 3.5% auto;
  
}
.books{
  padding: 3%;
  color: brown;
  font-size: 32px;
  font-weight: bold;
}
.new{
  padding: 9px;
  color: rgb(23, 207, 23);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  border: 2px solid rgb(23, 207, 23);
  border-radius: 28%;
}
.noborder{
  text-align: center;
  border: none;
}
.box h2{
  margin: .6%;
}
.box h3{
  margin: 1%;
}
.box h4{
  margin-left: 1%;
}
.box span{
  font-size: 16px;
}
.blw{
  display: flex;
  flex-direction: row;  
  justify-content: space-around;
}
.blw a, .del{
 text-decoration: none;
 font-size: 16px;
 padding: 8px 6px;
 border-radius: 28%;
 font-size: 16px;
}
.bodyy{
  margin-left: 1%;
  margin-top: .5%
}
.tagss {
  margin-left: 1%;
  margin-top: .5%;
  color: grey;
  font-weight: normal;
}
.tagss span{
  font-weight: bold;
}
.edt{
  background-color: #3182CE;
  color: #EDF2FC;
  padding: 4.5% 45.5%; 
  margin-bottom: 8%;
  margin-top: 4%;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  text-decoration: none;
}